.container-home{
    margin: 30px 80px 30px 120px;
    
}

.title-home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-despesa{
    border: 1px solid var(--color-medium-gray);
    padding: 20px;
    border-radius: 10px;    
    margin-top: 30px;        
  }
  
  .empty-despesa {
    width: 100%;
    padding: 100px;
    text-align: center;
  }
