.navbar{
    width: 100%;
    height: 70px;
    background-color: var(--color-gray);
    padding-left: 80px;
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .navbar img{
    height: 35px;
    margin-top: 3px;
  }
  
  .total{
    text-align: right;
    margin-right: 30px;
    font-size: var(--fsize-md);
    color: var(--color-dark-gray);
  }
  
  .input-busca {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }
  
  .btn-busca {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
  }
  
  .titulo {
    color: "black";
    font-size: 22px;
  }