

.container-despesa-cad{
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-despesa-cad{
    width: 90%;
    padding: 40px;
    border: 1px solid var(--color-medium-gray);
    border-radius: 5px;
}